/* You can add global styles to this file, and also import other style files */
header{
    border: 1px solid red; 
    height: 50px;
    display: flex;
}

header div{
    flex: 1;
}

header div img{
    height: 40px;
}

header nav{
    flex: 3;
}

header nav ul{
    display: flex;
}

header nav ul li{
    flex: 1;
    list-style: none;
}

.Slider img{
    width:100%;
}

.MainContainer{
    border:1px solid red;
    height: 450px;
    display: flex;
}

.MainContainer div:nth-child(2){
    flex: 2;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


.LeftSlideBar{
    flex: 1;
}

.MainContent{
    
}

.RightSliderBar{
    flex: 1;
}

footer{
    border: 1px solid red;
    background-color: #000;
    display: flex;
}

footer div{
    flex: 1px;
}

footer h6{
    color: white;
    font-size: 100%;
}

footer nav li a{
    font-size: 20px;
}

header nav li a{
    text-decoration: none;
    font-size: 22px;
    color: gold;
}

.LeftSlideBar li{
    padding: 16px;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.LeftSlideBar li a{
    text-decoration: none;
    color: orange;
}

.LeftSlideBar ul{
    padding-left: 0;
}